.htmlMain {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.bodyMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: linear-gradient(to top right, #17233E, #242f4b, #242f4b, #17233E);
  min-height: 100vh;
  word-break: break-word;
  font-size: 18px;
  line-height: 28px;
  font-family: roboto;
  word-break: break-word;
  color: #ffffff;
  position: relative;
}

.divCustomContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  position: relative;
  flex-grow: 1;
}

.divMain {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*backdrop-filter: blur(10px);*/
}

.divNavMain {
  width: 100%;
  margin: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  grid-gap: 5px;
  background: linear-gradient(to top right, rgba(0,0,0,0.1), rgba(255,255,255,0.1)), rgb(42,59,101);
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.1);
  /*backdrop-filter: blur(5px);*/
}

@media (max-width: 768px) {
  .divNavMain {
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    display: none;
  }
}

.dNMLink {
  transition: ease 0.3s;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: unset;
  color: #dadada;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  text-align: center;
}

.dNMLink:hover {
  transition: ease 0.3s;
  text-decoration: unset;
  color: white;
  letter-spacing: 2px;
  background: rgba(255,255,255,0.05);
}

.dNMLink:hover .dNMDropDownWrap {
  display: unset;
}

.dNMLinkWrap {
  /*padding: 25px;*/
  width: 100%;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dNMLinkWrap:hover .dNMDropDownWrap2 {
  display: block;
}

.divNavMainWrap {
  width: 100%;
  position: relative;
  margin: 0 0 25px 0;
}

.dNMDropDownWrap {
  padding: 10px 55px 0 55px;
  position: absolute;
}

.dNMDropDown {
  width: 100%;
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  /*border: solid 1px rgba(255,255,255,0.15);*/
  background: linear-gradient(to top right, rgba(0,0,0,0.1), rgba(255,255,255,0.15)), rgb(41,57,96);
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.1);
  overflow: hidden;
}

@media (max-width: 768px) {
  .dNMDropDown {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    background: linear-gradient(to top right, rgba(0,0,0,0.1), rgba(255,255,255,0.15)), rgb(37,51,88);
    box-shadow: unset;
  }
}

.dNMDropDownWrap.dNMDDWShow {
  display: block;
}

.dNMDropDownWrap2 {
  position: absolute;
  width: 100%;
  max-width: 300px;
  padding: 10px 0 0 0;
  z-index: 1;
  display: none;
}

@media (max-width: 768px) {
  .dNMDropDownWrap2 {
    position: relative;
    max-width: unset;
    padding: 10px 0 0 0;
    z-index: unset;
    padding: unset;
  }
}

.divNavMainBurger {
  border-radius: 15px;
  background: linear-gradient(to top right, rgba(0,0,0,0.1), rgba(255,255,255,0.15)), rgb(42,59,101);
  margin: 10px 0 0 0;
  display: none;
}

@media (max-width: 768px) {
  .divNavMainBurger {
    border-radius: 15px;
    background: linear-gradient(to top right, rgba(0,0,0,0.1), rgba(255,255,255,0.15)), rgb(42,59,101);
    margin: 10px 0 0 0;
    display: block;
  }
}

#navMobile {
  display: none;
}

@media (max-width: 768px) {
  #navMobile {
    display: block;
    padding: 10px 0 0 0;
  }
}

#navDesktop {
  display: block;
  padding: 30px 0 0 0;
}

@media (max-width: 768px) {
  #navDesktop {
    display: none;
  }
}

.divBodyMain {
  width: 100%;
  flex-grow: 1;
  /*padding: 25px 0 25px 0;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divFootMain {
  width: 100%;
  max-width: 750px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*grid-gap: 5px;*/
  background: linear-gradient(to top right, rgba(0,0,0,0.1), rgba(255,255,255,0.1)), rgb(42,59,101);
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.1);
  margin: 25px 0 25px 0;
  overflow: hidden;
}

.footerLinks {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*grid-gap: 10px;*/
  justify-content: space-around;
}

.footerLinksLink:hover {
  transition: ease 0.3s;
  background: rgba(255,255,255,0.1);
}

.footerLinksLink:hover > .footerLinksLinkImg {
  transition: ease 0.3s;
  opacity: 1;
}

.footerLinksLink {
  transition: ease 0.3s;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 15px 10px 15px 10px;
  /*border-radius: 10px;*/
  background: rgba(255,255,255,0);
  width: 25%;
  height: 100%;
}

.footerLinksLinkImg {
  transition: ease 0.3s;
  width: 100%;
  max-width: 25px;
  opacity: 0.25;
}

.footerLinksLinkIcon {
  font-size: 20px;
  color: rgba(255,255,255,0.25);
}

.divTopContent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

@media (max-width: 768px) {
  .divTopContent {
    grid-template-columns: 1fr;
  }
}

.divTopContentCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 25px;
  background: linear-gradient(to top right, rgba(0,0,0,0.1), rgba(255,255,255,0.1)), rgb(42,59,101);
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.1);
}

.divTopContentCard.divTopContentCardAlt {
  border: solid 1px rgba(255,255,255,0.1);
  background: unset;
  box-shadow: unset;
}

.fieldMain > option {
  background-color: rgb(0,0,0);
  background: linear-gradient(to top right, rgba(0,0,0,0.1), rgba(255,255,255,0.1)), rgb(42,59,101);
  border: unset;
}

.fieldMain {
  background: unset;
  border: unset;
  outline: unset;
  padding: 10px 15px 10px 15px;
  width: 100%;
  border-radius: 15px;
  background: rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1);
  color: white;
  -webkit-appearance: none;
}

.divPickName {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
}

.divPickNameAt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
}

.btnMain {
  transition: ease 0.3s;
  width: 100%;
  background: linear-gradient(to top right, rgba(0,0,0,0.1), rgba(255,255,255,0.1)), rgb(51,70,118);
  color: rgba(255,255,255,0.5);
  font-weight: bold;
  padding: 15px 20px 15px 20px;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.1);
  border: unset;
  outline: unset;
}

.btnMain:hover {
  transition: ease 0.3s;
  width: 100%;
  background: linear-gradient(to top right, rgba(0,0,0,0.1), rgba(255,255,255,0.1)), #394f85;
  color: white;
  font-weight: bold;
  padding: 15px 20px 15px 20px;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgb(0,0,0,0.1);
  border: unset;
  outline: unset;
}

.dTCCIn {
}

.dTCCInTop {
  border-bottom: solid 1px rgba(255,255,255,0.1);
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
}

.dTCCInTopH {
}

.dTCCInBot {
}

.dTCCInBotH {
  margin: 0 0 20px 0;
}

.dTCCInBotPara {
  color: rgba(255,255,255,0.75);
}

.divpubkey {
  margin: 0 0 10px 0;
}

.divPickNameParaText {
  color: #bababa;
}

.divNameBtn {
  margin: 0 0 10px 0;
}

